<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viesnīcu rediģēšana</title>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe HuangYou&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>
    <img id="ananass" src="images/ananas.png">
    <img id="palmuKoki" src="images/635942090385008828-palm-trees.jpg">
    <h1 id="RediģēšanasVirsraksts">Viesnīcu rediģēšana</h1>
    <button href="#" class="button" id="PievienotViesn" style="width: 240px; height: 60px; left: 1030px; top: 220px">Pievienot</button>
    <div id="Vies_Saraksts">
        <div class="ViesnīcasKaste">
            <a href="#" class="smol_button"><img style="width: 26px; height: 26px;" src="images/edit_symbol.png"></a>
            <a href="#" class="smol_button" style="clear: right;">X</a>
            <p></p>
        </div>
        <div class="ViesnīcasKaste">
            <a href="#" class="smol_button"><img style="width: 26px; height: 26px;" src="images/edit_symbol.png"></a>
            <a href="#" class="smol_button" style="clear: right;">X</a>
            <p></p>
        </div>
        <div class="ViesnīcasKaste">
            <a href="#" class="smol_button"><img style="width: 26px; height: 26px;" src="images/edit_symbol.png"></a>
            <a href="#" class="smol_button" style="clear: right;">X</a>
            <p></p>
        </div>     
        <div class="ViesnīcasKaste">
            <a href="#" class="smol_button"><img style="width: 26px; height: 26px;" src="images/edit_symbol.png"></a>
            <a href="#" class="smol_button" style="clear: right;">X</a>
            <p></p>
        </div>          
    </div>
    <div id="Valsts_Saraksts">
        <h3>Valstis:</h3>
        <h3>Viesnīcu skaits:</h3>
        <button type="submit" style="margin-top: 30px;" class="button">Pievienot</button>
        <div id="Valsts_nr">
            <div class="Valsts">
                <h3>Zviedrija</h3>
                <h3>12</h3>
                <button style="position: relative; width:120px; height: 55px; font-size: 35px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;" class="button">
                  Rediģēt
                </button>
                <button style="position: relative; width:120px; height: 55px; font-size: 35px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;" class="button">
                  Dzēst
                </button>
            </div>
            <div class="Valsts">
                <h3>Zviedrija</h3>
                <h3>12</h3>
                <button style="position: relative; width:120px; height: 55px; font-size: 35px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;" class="button">Rediģēt</button>
                <button style="position: relative; width:120px; height: 55px; font-size: 35px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;" class="button">Dzēst</button>
            </div>
            <div class="Valsts">
                <h3>Zviedrija</h3>
                <h3>12</h3>
                <button style="position: relative; width:120px; height: 55px; font-size: 35px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;" class="button">Rediģēt</button>
                <button style="position: relative; width:120px; height: 55px; font-size: 35px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;" class="button">Dzēst</button>
            </div>
        </div>
    </div>
</body>
</html>