<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistika</title>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe HuangYou&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <img src="../static/img/ananas.png" id="ananass">
    <img src="../static/img/rezervacijaViesnica.png" id="rezervacijaViesnica">
    <img src="../static/img/statistikasTabula.JPG" id="statistikasTabula">
    <h1 id="statistikasVirsraksts">Šī mēneša statistika</h1>
    <button id="eksportetStatistika" class="button2" style="top: 650px; left: 800px; width: 150px;">Eksportēt</button>
    <button class="button2" style="top: 650px; left: 1000px; width: 150px;">Atpakaļ</button>
    <div id="statistikasEksportesana">
        <img src="../static/img/Triangle 1.png" id="TriangleV1">
        <img src="../static/img/Triangle 2.png" id="TriangleV2">
        <a id="eksportesana">Eksportēšana</a>
        <button class="button2" style="top: 175px; left: 150px; width: 150px; font-size: 42px;">.csv</button>
        <button class="button2" style="top: 175px; left: 400px; width: 150px; font-size: 42px;">.json</button>
        <button class="button2" style="top: 350px; left: 200px; width: 150px;">Eksportēt</button>
        <button id="atceltStatistika" class="button2" style="top: 350px; left: 400px; width: 100px;">Atcelt</button>
    </div>

    <script src="../static/js/JavascriptTest copy.js"></script>

</body>
</html>