<!DOCTYPE html>
<html lang="lv">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/Homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body class="Galvena_lapa">
    <!-- Galvenā daļa lapai -->
    <div class="Logo_box">
        <img class="Logo" src="../static/img/Mājaslapas_logo.png">
        <h1>Viesnicas</h1>
        <div class="Pogu_containers">
            <button id="Pieslegšanās" class="Pogas">Ieiet</button>
        </div>
        <div class="Pogu_containers">
            <button id="Regist" class="Pogas">Reģistrēties</button>
        </div>
        <div>
            <a href="/Logged-In"><button class="Pogas"> Ielogojies </button></a>
            <a href="/Admin-Page"><button class="Pogas"> Admin </button></a>
        </div>
    </div>
    
    <!-- Reģistrēšanās logs -->
    <div id="Registresanas_logs" class="POP_UP_ēna">
        <div class="POP_UP_Logs">
            <header>Reģistrēties</header>
            <div class="wrapper">
                <form class="Form">
                    <div class="input_field">
                        <p class="ievades_nosaukums">Lietotājvārds</p>
                        <input class="input_field_text" type="text" placeholder="Lietotājvārds" required>
                    </div>
                    <div class="input_field">
                        <p class="ievades_nosaukums">E-pasts</p>
                        <input class="input_field_text" type="text" placeholder="E-pasts" required>
                    </div>
                    <div class="input_field">
                        <p class="ievades_nosaukums">Parole</p>
                        <input class="input_field_text" type="password" placeholder="Parole" required>
                    </div>
                    <input id="RegPoga" class="Pogas" style="font-size: 35px; line-height: 30px;" type="submit" value="Reģistrēties">
                    <p>Esat jau reģistrējušies? <a href="#">Pieslēdzieties tagad!</a></p>
                </form>
            </div>
        </div>
    </div>

     <!-- Pieslēgšanās logs -->
     <div id="Pieslēgšanās_logs" class="POP_UP_ēna">
        <div class="POP_UP_Logs">
            <header>Pieslēgšanās</header>
            <div class="wrapper">
                <form class="Form">
                    <div class="input_field">
                        <p class="ievades_nosaukums">Lietotājvārds</p>
                        <input class="input_field_text" type="text" placeholder="Lietotājvārds" required>
                    </div>
                    <div class="input_field">
                        <p class="ievades_nosaukums">Parole</p>
                        <input class="input_field_text" type="password" placeholder="Parole" required>
                    </div>
                    <a href="/Logged-In"><input id="PiesledzPoga" class="Pogas" style="font-size: 35px; line-height: 30px;" type="submit" value="Pieslēgties"></input></a>
                    <p>Nav vel konta jums? <a href="#">Reģistrējaties tagad!</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="../static/js/Homepage.js"></script>
</html>