<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ielogota_Homepage</title>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe HuangYou&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <img id="img1" src="static/img/polygon_2.1.png">
    <img id="img2" src="static/img/polygon_1.1.png">
    <img id="logo1" src="static/img/ananas.png">
    <h1 id="virsraksts">Viesnīcas</h1>
    <button id="button1" class="button" style="width: 437px; height: 86px; left: 760px; top: 700px;">Veikt Rezervāciju</button>
    <button id="button4" class="button" style="width: 319px; height: 90px; left: 1592px; top: 14px;">Iziet</button>
</body>
</html>