<!DOCTYPE html>
<html lang="lv">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/Homepage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body class="Palmu_lapa">
  <header>
    <a href="/Admin-Page"><img class="Logo_sturis" src="../static/img/Mājaslapas_logo.png"></a>
    <h3>Viesnicu redigesana</h3>
  </header>
    <a href="/Admin-Rediģēšana/Valstis" style="padding:50px"><button class="Pogas"> Valstis </button></a>
    <a href="/Admin-Rediģēšana/Viesnicas"><button class="Pogas"> Viesnīcas </button></a>
  
</body>
<script src="..static/js/Homepage.js"></script>
</html>