<!DOCTYPE html>
<html lang="lv">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/Homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body class="Palmu_lapa">
    <a href="/Logged-In"><img class="Logo_sturis" src="../static/img/Mājaslapas_logo.png"></a>
    <h3>Veikt Rezervaciju</h3>
    
    {% block body %}
    <div class="content">
        <div class="form_top">
            <form action="/Veiktas-Rezervacijas" method="POST" class="Admin_form">
                <input class="input" type="text" placeholder="Vards" name="Vards" id="Vards" required>
                <input class="input" type="text" placeholder="Uzvards" name="Uzvards" id="Uzvards" required>
                <select method="POST">
                  {% for valsts in valstis %}
                    {% for viesnica in viesnicas %}
                      {% if viesnica.id == valsts.viesnicaId %}
                        <option value="{{viesnica.id}}">{{ valsts.valsts }}, {{ viesnica.nosaukums }}, {{ viesnica.zvaigznes }}</option>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </select>
                <input class="Pogas" style="width: 100px; height: 30px; font-size: 20px; line-height: 20px;" type="submit" value="Pievienot">
            </form>
        </div>
    </div>
    {% endblock %}
</body>

<script src="..static/js/Homepage.JS"></script>
</html>