<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistikas tabula</title>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe HuangYou&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <table style='width: 1520px;'>
        <tr>
          <th>Valsts</th>
          <th>Viesnīcu skaits</th>
          <th>Rezervācijas</th>
          <th>Ienākumi</th>
        </tr>
        <tr>
          <td>Latvija</td>
          <td>15</td>
          <td>200</td>
          <td>2300</td>
        </tr>
        <tr>
          <td>Somija</td>
          <td>7</td>
          <td>80</td>
          <td>1000</td>
        </tr>
        <tr>
            <td>Albānija</td>
            <td>26</td>
            <td>240</td>
            <td>3000</td>
          </tr>
          <tr>
            <td>Bulgārija</td>
            <td>2</td>
            <td>24</td>
            <td>550</td>
          </tr>
      </table>
</body>
</html>