<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistikas tabula</title>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe HuangYou&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/Homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body class="Hotel_lapa">
    <a href="/Admin-Page"><img class="Logo_sturis" src="../static/img/Mājaslapas_logo.png"></a>
    <h3 style='padding:50px;'>Statistika</h3>
    <table style='width: 1200px;'>
        <tr>
          <th>Valsts</th>
          <th>Viesnīca</th>
          <th>Rezervācijas</th>
          <th>Ienākumi</th>
        </tr>
        <tr>
          <td>Latvija</td>
          <td>Broms Hotel</td>
          <td>200</td>
          <td>2300</td>
        </tr>
        <tr>
          <td>Somija</td>
          <td>Motel Bud</td>
          <td>80</td>
          <td>1000</td>
        </tr>
        <tr>
            <td>Albānija</td>
            <td>Country Hotel</td>
            <td>240</td>
            <td>3000</td>
          </tr>
          <tr>
            <td>Bulgārija</td>
            <td>Hotels "Bulgaria"</td>
            <td>24</td>
            <td>550</td>
          </tr>
      </table>
    <a style="padding:50px;"><button class="Pogas"> .CSV </button></a>
    <a ><button class="Pogas"> ,JSON </button></a>
</body>
</html>