<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Homepage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body class="Palmu_lapa">
    <a href="/Admin-Rediģēšana"><img class="Logo_sturis" src="../static/img/Mājaslapas_logo.png"></a>
    <h3 class="Form_aizpilde">Viesnicu redigesana</h3>
    {% block head %}
    <title>Valstis</title>
    {% endblock %}
    
    {% block body %}
    <div class="content">
        {% if tasks|length < 1 %}
        <h4 style="text-align: left">Nav nevienas valstis pievienotas! Pievienojiet zemāk.</h4>
        {% else %}
        <div class="table_units">
            <table>
                <tr>
                    <th class="teksts">Valsts</th>
                    <th class="teksts">Saīsinājums</th>
                    <th class="teksts">Viesnīcu skaits</th>
                    <th class="teksts">Darbības</th>
                </tr>
                {% for task in tasks %}
                  <div>
                    <tr>
                        <td>{{ task.valsts }}</td>
                        <td>{{ task.saisinajums }}</td>
                        <td>{{ task.viesnic_sk }}</td>
                        <td>
                          <a href="/izdzest_Valsts/{{task.id}}"><input style="width: 100px; height: 30px; font-size: 20px; line-height: 20px;" class="Pogas" type="submit" value="Delete"></input></a>
                            <br>
                          <a href="/Admin-Rediģēšana/Valstis/update/{{task.id}}"><input style="width: 100px; height: 30px; font-size: 20px; line-height: 20px;" class="Pogas" type="submit" value="Update"></input></a>
                       </td>
                    </tr>
                  </div>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        <div class="form_top">
            <form action="/Admin-Rediģēšana/Valstis" method="POST" class="Admin_form">
                <input class="input" type="text" placeholder="Valsts" name="valsts" id="valsts" required>
                <input class="input" type="text" placeholder="Saīsinājums" name="saisinajums" id="saisinajums" required>
                <input class="input" type="text" placeholder="Viesnīcu skaits" name="viesnic_sk" id="viesnic_sk" required>
                <input class="Pogas" style="width: 100px; height: 30px; font-size: 20px; line-height: 20px;" type="submit" value="Pievienot">
            </form>
        </div>
    </div>
    {% endblock %}
  </body>