<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veiktās rezervācijas</title>
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe HuangYou&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <img src="../static/img/ananas.png" id="ananass">
    <img src="../static/img/rezervacijaViesnica.png" id="rezervacijaViesnica">
    <div id="meklesana">
        <input type="text" placeholder="Meklēt" id="meklesanaInputField">
        <img src="../static/img/Magnifying_glass_icon.png" id="lupa">
    </div>
    <div id="viesnica1">
        <img src="../static/img/rezervacijaIstaba.JPG" id="rezervacijaIstaba">
        <p id="viesnicaTeksts">
            Valsts - Zviedrija; Viesnīca - Mini Tower; Nr. - 121; Cena - 100.00$; <br> Zvaigznes -  ***; Datums: 2021.04.12. - 2021.05.01.
        </p>
        <img src="../static/img/redigesanasIkona.png" id="redigesanasIkona">
        <img src="../static/img/printesanasIkona.jpg" id="printesanasIkona">
        <p id="krustsParVisu" style="text-align: center;">
            X
        </p>
    </div>
    <div id="viesnica2">
        <img src="../static/img/rezervacijaIstaba.JPG" id="rezervacijaIstaba">
        <p id="viesnicaTeksts">
            Valsts - Somija; Viesnīca - Icy Adventure; Nr. - 321; Cena -  250.00$; <br> Zvaigznes -  *****; Datums - No: 2021.05.14. - 2021.05.26.
        </p>
        <img src="../static/img/redigesanasIkona.png" id="redigesanasIkona">
        <img src="../static/img/printesanasIkona.jpg" id="printesanasIkona">
        <p id="krustsParVisu" style="text-align: center;">
            X
        </p>
    </div>
    <div id="viesnica3">
        <img src="../static/img/rezervacijaIstaba.JPG" id="rezervacijaIstaba">
        <p id="viesnicaTeksts">
            Valsts - Rumānija; Viesnīca - Hickok; Nr. - 45; Cena - 25.00$; <br> Zvaigznes -  *; Datums - No: 2021.05.26. - 2021.05.28.
        </p>
        <img src="../static/img/redigesanasIkona.png" id="redigesanasIkona">
        <img src="../static/img/printesanasIkona.jpg" id="printesanasIkona">
        <p id="krustsParVisu" style="text-align: center;">
            X
        </p>
    </div>
    <div id="viesnica4">
        <img src="../static/img/rezervacijaIstaba.JPG" id="rezervacijaIstaba">
        <p id="viesnicaTeksts">
            Valsts - Itālija; Viesnīca - Rocona 2000; Nr. - 12; Cena - 120.00$; <br> Zvaigznes -  *****; Datums - No: 2021.05.30. - 2021.06.01.
        </p>
        <img src="../static/img/redigesanasIkona.png" id="redigesanasIkona">
        <img src="../static/img/printesanasIkona.jpg" id="printesanasIkona">
        <p id="krustsParVisu" style="text-align: center;">
            X
        </p>
    </div>
    <button class="button2" style="top: 55px; left: 675px; width: 150px;">Iziet</button>
    <button class="button2" style="top: 55px; left: 850px;">Veikt rezervāciju</button>
    <div id="rezervacijasRedigesana">
        <a style="top: 200px;">Rezervācijas rediģēšana</a>
        <div id="datumaRedigesana" style="top:95px;">
            <a>Datums: 2021.04.12. - 2021.05.01.</a>
            <img src="../static/img/redigesanasIkona.png" id="redigesanasIkona2">
        </div>
        <div id="datumaRedigesana" style="top:170px;">
            <a>Datums: 2021.05.14. - 2021.05.26.</a>
            <img src="../static/img/redigesanasIkona.png" id="redigesanasIkona2">
        </div>
        <div id="datumaRedigesana" style="top:245px;">
            <a>Datums: 2021.05.26. - 2021.05.28.</a>
            <img src="../static/img/redigesanasIkona.png" id="redigesanasIkona2">
        </div>
        <div id="datumaRedigesana" style="top:320px;">
            <a>Datums: 2021.05.30. - 2021.06.01.</a>
            <img src="../static/img/redigesanasIkona.png" id="redigesanasIkona2">
        </div>
        <button id="datumaRedigesanaButton" class="button2" style="top:400px; left: 275px;">Atpakaļ</button>
    </div>

    <script src="../static/js/JavascriptTest.js"></script>

</body>
</html>